.vertical{
	background-color: SkyBlue;
	color: white;
	text-align: center;
}
h1
{
	color: DeepSkyBlue;
}

h2
{
	color: SkyBlue;
}
.container-fluid
{
	background-color: AliceBlue;
}
.badge
{
	display:inline-block;
}
#Summary,#Education,#Projects,#Certifications,#Experience
{
	margin-bottom:25px;
	background-color: white;
}
.job,.proj,.edu
{
	margin-bottom:25px;
}
span
{
	margin-right: 5px;
	margin-bottom: 5px;
}