.vertical{
	background-color: LightSkyBlue;
	text-align: center;
}
.navbar-light
{
	background-color: LightSkyBlue;
}
.vertical h3
{
	color: white;
}
h1
{
	color: DeepSkyBlue;
}

h2
{
	color: SkyBlue;
}
.container-fluid
{
	background-color: AliceBlue;
}
.tags
{
	display:inline-block;
	margin-right: 5px;
}
#Summary,#Certifications
{
	margin-bottom:25px;
}
.desc
{
	background-color: LightSkyBlue;
	margin-bottom:25px;
}
.desc h2
{
	color: White;
}
.skills
{
	display: inline-block;
	margin-right: 5px;
}
